flask>=3.0
requests>=2.31
beautifulsoup4
lxml
zhconv
python-telegram-bot>=20.0
gql[websockets]>=3.5
grpcio>=1.83.0
grpclib
yarl
python-dateutil
glob_pattern
python-argtools
python-httpfile
python-http_request
python-urlopen
python-download
python-filewrap
http_response
